@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

body {
  height: 100vh; 
  background: linear-gradient(-29deg,#F3F4F6 54%, #3D1A75 50% );
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

